[bot]
command_prefix = !
color = FF0000
status = online

[db]
user = postgres
password = helloworld
database = postgres
host = localhost
port = 1234

[activity]
name = a cool game
type = playing
url =
