[bot]
bot_token =
command_prefix = !
# online | idle | dnd | invisible
status = dnd

[activity]
name = a really good game
# playing | streaming | listening | watching | custom | competing
type = playing
url =
